<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>专题-{$GetSiteName}</title>
<link href="{$GetInstallDir}images/style.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" type="text/javascript"></script>
<!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>
{LB_头部通用}
<div class="blank10"></div>
<div class="banner">{=GetAdvertise(38)}</div>
<div class="blank10"></div>

<div class="hotzt mainbox">
        <div class="title">推荐专题</div>
		<div class="hotztbox">
		      <ul>
		      {LB_专题推荐}
		     </ul>
		</div>
</div>
       <div class="clear blank10"></div>
    <div class="ztlist mainbox">
	   {LB_循环专题列表}
	</div>

<div class="clear blank10"></div>

<!--版权信息-->
{LB_尾部通用}
<!--版权信息-->


</body>
</html>