<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$ShowBlogName}-{$GetSiteTitle}</title>
<meta name="keywords" content="{$GetMetaKeyWords}"/>
<meta name="description" content="{$GetMetaDescript}"/>
<link href="{$GetInstallDir}space/skin/company04/style.css" rel="stylesheet" type="text/css">
<script src="{$GetInstallDir}ks_inc/jquery.js" language="javascript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" language="javascript"></script>
<script src="{$GetInstallDir}space/js/ks.space.js" language="javascript"></script>
<script src="{$GetInstallDir}space/js/ks.space.page.js" language="javascript"></script>

</head>
<body>
<div class="wrap">
	<div class="header">
		  <div class="head">
			   <div class="left">{$ShowLogo}</div>
			   <div class="right">今天是：{$JS_Time2}</div>
		  </div>
	</div>
	<div class="clear"></div>
	
		<div class="clear"></div>
	<div class="menu">
		   <ul>
			 {$ShowNavigation}
		   </ul>
	</div>
	<div class="clear"></div>
	
	<div class="banner"><h1>{$ShowBlogName}</h1></div>
	
	
	
	<div class="blank10 clear"></div>
	
	<div class="main">
		<div class="left">
			<div class="left01">
				<div class="title">企业登录管理</div>
				<div class="left01box">
				   <ul>
					 {$ShowUserLogin}
				   </ul>
				</div>
			</div>
			<div class="blank10 clear"></div>
		   <div class="left01">
				<div class="title">企业新闻</div>
				<div class="left02box">
				   <ul>
					 {$ShowNews}
				   </ul>
				</div>
			</div>
		</div>
		<div class="right">
			 <div class="rightmain">
				 {$BlogMain}
			 </div>
			
		</div>
	</div>
	<div class="blank10 clear"></div>
	<div class="clear"></div>
	
	<div class="foot">Powered by Kesion.Com &copy; 2006-2015 </div></div>

</body>
</html>