#wrap #content #xw123{ border-bottom:4px #999999 solid}
#wrap #content #main2 #xw_title{ font-family:"寰蒋板呴粦"; text-align:center; border-bottom:1px #999999 solid;}
#wrap #content #main2 #pinglun{ height:180px; width:100%; background:#F1F1F1;}
#wrap #content #main2 #pinglun .plk #plk{width: 611px;height: 86px;}
#wrap #content #side2 ul li img{ width:290px;}
