*{margin:0;padding:0;word-wrap:break-word;}
div,ul,li,p,form,table,dt,dl,dd,tr,i,em,b,a,s{padding: 0px; margin: 0px;list-style-type: none;}

body{width:100%; font-family:Arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif;color:#1c2b36; background:#edf1f2; font-size:12px;}

textarea, select, input{font-family:Arial,'hiragino sans gb',microsoft yahei !important;}
a{color:#1c2b36;text-decoration:none; cursor:pointer; outline:none}
a:hover{text-decoration:none; color:#247ec0;}
a:focus{outline:none;}
img{border:none; } 
em,i{font-style: normal;font-weight: normal;}
h3,h4{padding:0px; font-size:14px; font-weight:bold;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clear{ height:0px; clear:both; overflow:hidden;}
.blank10{ height:10px; overflow:hidden;}
.blank20{ height:20px; overflow:hidden;}
.blank30{ height:30px; overflow:hidden;}

.hide{ display:none}

.red{color:#fb2c33 ;}

/*头部*/
#ajaxmsg{text-align:center;background-color: #f1f1f1;color:#000;font-size:12px;line-height:16px;position:absolute; z-index:1; left: 170px; top:1px;display:none;}

/*左边滚动条*/
.Scroller-Container {
  position: absolute;
  top: 0px; left: 0px;
  margin:0px;padding:0px;
}
.Scrollbar-Track {
  width: 1px; height: 568px;
  position: absolute; background:#ecf2f6;
}
.Scrollbar-Handle {
  position: absolute;
  width: 6px; height:82px;
  background:url(bg15.png) no-repeat;margin:0px 0px 0px -2px;
}
#Scrollbar-Container {
  position: absolute;
  top: 71px; left: 170px;
}

#Container {
  position: absolute;
  top: 60px; left: 0px;
  z-index:100;
  width: 180px;
  background:#f2f5f6;
  border-right:1px solid #e3e7ea;
}

/*
.leftBg2{ background:#edf1f2 !important;border-right:1px solid #e0e0e0 !important;}

.leftBg2 .leftTitle{color:#1c2b36 !important; }
.leftBg2 .navtitle{color:#1c2b36 !important;}

.leftBg2 .on{ background:none !important;} 
*/

#News, #About, #Extra { 
  position: absolute;
  width: 100%;
  display: none;
  height:100%;
}
#News {display: block;}
.icon{ background:url(ico/123456.png) no-repeat; height:24px; width:26px; vertical-align:middle; display:inline-block;}
/*.menuright .icon{background:url(headicon.png) no-repeat;}*/
.backmain .left .navigation .navtitle .icon{ display:none;}
/*.icon.main{ background-position:-76px -140px;}
.icon.tel{ background-position:-221px -140px;}
.icon.message{ background-position:-263px -140px;}
.icon.password{ background-position:-313px -140px;}
.icon.update{ background-position:-171px -140px;}
.icon.out{ background-position:-122px -138px;}*/

/**第一块**/
.icon.leftmodel1{ background-position:-518px -61px;}
.icon.leftmodel2{ background-position:-517px -38px;}
.icon.leftmodel3{ background-position:-544px -61px;}
.icon.leftmodel4{ background-position:-544px -38px;}
.icon.leftmodel5{ background-position:-572px -61px;}
.icon.leftmodel6{ background-position:-572px -28px;}
.icon.leftmodel7{ background-position:-571px -37px;}
.icon.leftmodel8{ background-position:-517px -61px;}
.icon.leftmodel9{ background-position:-599px -61px;}
.icon.leftmodel10{ background-position:-600px -38px;}
.icon.leftmodel11{ background-position:-628px -38px;}
.icon.leftmodel12{ background-position:-628px -61px;}
.icon.leftmodel13{ background-position:-652px -61px;}

/**第六块**/
.icon.systemset{ background-position:-652px -38px;}
.icon.telset{background-position:-677px -61px;}

/**第四块**/
.icon.tips{background-position:-674px -38px;}
.icon.template{background-position:-700px -38px;}

/**第五块**/
.icon.usermanagement{background-position:-723px -38px;}
.icon.management{background-position:-700px -60px;}
.icon.pay{background-position:-725px -61px;}
.icon.search{background-position:-750px -61px;}

/**第三块**/
.icon.modeler{background-position:-750px -36px;}
.icon.text{background-position:-775px -38px;}
.icon.list{background-position:-774px -61px;}

/**第二块**/
.icon.app_ads{ background-position:-80px -19px;}
.icon.app_announce{background-position:-107px -19px;}
.icon.app_bshare{background-position:-802px -36px;}
.icon.app_collect{background-position:-136px -19px;}
.icon.app_dig{background-position:-164px -19px;}
.icon.app_form{background-position:-193px -19px;}
.icon.app_InterView{background-position:-219px -19px;}
.icon.app_link{background-position:-245px -19px;}
.icon.app_mallscore{background-position:-273px -19px;}
.icon.app_pk{background-position:-301px -19px;}
.icon.app_special{background-position:-328px -19px;}
.icon.app_Survey{background-position:-353px -19px;}
.icon.app_tags{background-position:-379px -19px;}
.icon.app_tool{background-position:-406px -19px;}
.icon.app_vote{background-position:-431px -19px;}
.icon.app_wss{background-position:-802px -61px;}



/*滚动条*/
.nicescroll-rails{z-index:9999 !important;}
.nicescroll-rails div{ background:url(rgba0-12.png) !important}


/*左边滚动条结束*/


.menubox{ height:60px;background:#fff; position:relative; }
.menubox .menuBg{ background:url(topmuenbg.png) repeat-x left bottom; width:100%; position:absolute; height:5px;left:0; bottom:-5px; z-index:9;}

.menubox .menuleft{width:180px;height:60px; float:left;text-align:center; background:#247ec0;}
.menubox .menuleft img{ display:block;margin:0 auto;margin-top:10px; overflow:hidden;}
.menubox .menuleft span{ display:none; line-height:25px;color:#fff; padding-right:13px;}


.bodyStyle2 #Container{ background:#283142; border-right:0px;}
.bodyStyle2 .nicescroll-rails div{ background:url(rgba255_30.png) !important;}
.bodyStyle2 .backmain .left .navigation .navtitle{color:#abadb1;}
.bodyStyle2 .backmain .left .on{ background:#222933;}
.bodyStyle2 .backmain .left .leftTitle{ color:#fff; background:#424b5c;}
.bodyStyle2 .backmain .left .navigation .navtitle{border-top:0px;}
.bodyStyle2 .backmain .left li a{color:#a9abad;}
.bodyStyle2 .backmain .left li a:hover{color:#fff;}
.bodyStyle2 .backmain .left .on .navtitle{color:#fff;font-weight:normal;}
.bodyStyle2 .backmain .left .on .navtitle:hover{ background:#222933 !important;}
.bodyStyle2 .backmain .left .navigation .navtitle:hover{background:#222933;}
.bodyStyle2 .backmain .left li.curr a{color:#247ec0;}



.bodyStyle3 .menubox .menuleft{background:#21b05f;}

.bodyStyle3 .backmain .left .on .navtitle{border-left:3px solid #21b05f;color:#21b05f;}
.bodyStyle3 .backmain .left li.curr a{color:#21b05f;}
.bodyStyle3 .backmain .left li a:hover{color:#21b05f;}

.bodyStyle4 .backmain .left .on .navtitle{border-left:3px solid #eb613e;color:#eb613e;}
.bodyStyle4 .menubox .menuleft{background:#eb613e;}
.bodyStyle4 .backmain .left li.curr a{color:#eb613e;}
.bodyStyle4 .backmain .left li a:hover{color:#eb613e;}


.bodyStyle5 .menubox .menuleft{background:#e53838;}
.bodyStyle5 .backmain .left .on .navtitle{border-left:3px solid #e53838;color:#e53838;}
.bodyStyle5 .backmain .left li.curr a{color:#e53838;}
.bodyStyle5 .backmain .left li a:hover{color:#e53838;}


.menubox .menucenter{float:left;width:580px;margin-left:32px;}
.menubox .menucenter ul li{float:left;width:83px; height:60px; line-height:55px;text-align:center; }


.menubox .menucenter ul li a{font-size:12px;color: #b5babe;font-weight:300;height:25px; line-height:20px;padding-top: 35px;display: block;padding-left: 10px;padding-right: 10px;background-image:url(headtab-icon.png); background-repeat:no-repeat; }

.menubox .menucenter ul li.curr a{color:#247ec0;background-image:url(headtab-icon-on1.png); }
.bodyStyle3 .menubox .menucenter ul li.curr a{color:#21b05f;background-image:url(headtab-icon-on2.png);}
.bodyStyle4 .menubox .menucenter ul li.curr a{color:#eb613e;background-image:url(headtab-icon-on3.png);}
.bodyStyle5 .menubox .menucenter ul li.curr a{color:#e53838;background-image:url(headtab-icon-on4.png);}

.menubox .menucenter ul li a.icon1{ background-position:29px 8px;}
.menubox .menucenter ul li a.icon2{ background-position:-507px 8px;}
.menubox .menucenter ul li a.icon3{ background-position:-248px 8px;}
.menubox .menucenter ul li a.icon4{ background-position:-148px 8px;}
.menubox .menucenter ul li a.icon5{ background-position:-55px 8px;}
.menubox .menucenter ul li a.icon6{background-position:-368px 8px;}
.menubox .menucenter ul li a:hover{ text-decoration:none}



.menubox .menuright{float:right;padding-right:25px;}
.menubox .menuright ul li{ float:left;padding: 0px 14.5px; position:relative;}
.menubox .menuright ul li a{text-align:center;height:60px;position:relative; float:left;color:#90989e; line-height:60px; font-size:12px;}
.menubox .menuright ul li.userinfo span{background: url(arrow.png) no-repeat 100% 50%;line-height: 60px;color: #90989e;font-size: 14px;    padding-right: 15px;}
.menubox .menuright ul li.userinfo .operating{display: none;position: absolute;width: 300px;top:58px; z-index:100000;left: -200px;border: 1px solid #e9eced;box-shadow: 0 1px 6px rgba(0,0,0,0.12);border-radius: 4px;background: #fff;padding: 15px 20px;color: #999;}
.userinfo .operating .name {font-size: 16px;line-height: 26px;height: 26px;overflow: hidden;color: #303234;}
.operating .name .mainColor {color:#247ec0;font-size: 12px;padding-left: 15px;}
.operating .info {line-height: 22px;font-size: 12px;}
.operating .info em {padding-right: 20px;}
.operating .btn a {width:48px;filter: alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;color: #999;font-size: 12px;float: left;margin: 0 20px;line-height: 26px !important; height:auto !important;}
.operating .btn .myicon {width: 21px;height: 21px;display: block;margin: 0 auto;margin-top: 20px;background-image: url(user-operating.png);background-repeat: no-repeat;}
.operating .btn .icon-password {background-position: 1px 0;}
.operating .btn .icon-out {background-position: -94px 0;}

.operating .btn a:hover {color:#247ec0;}
.operating .btn a:hover .myicon {background-image: url(user-operating-on1.png);}
.operating .userinfor .headimg{ float:left;margin-top: 5px;}
.userinfor .headimg img{ width:45px; height:45px; border-radius:45px;}
.operating .userinfor .right-info{ float:left; margin-left:15px;}

.menubox .menucenter2{float:left;color:#fff;height:35px; width:100px;margin-top:23px;border:0px solid red; display:none !important;}


.backmain .left{width:180px;}
.backmain .left .leftTitle{font-size:18px;height:60px; padding:0px 20px; line-height:60px; overflow:hidden;}
.backmain .left .navigation .navtitle{height:40px; line-height:40px;font-size:14px; cursor:pointer; padding:0px 20px;color:#697680;position:relative;border-top:1px solid #e3e7ea; }
.backmain .left .navigation .navtitle:hover{ background:#edf1f2;}
.backmain .left .on{background:#fff;}
.backmain .left .on .navtitle{color:#247ec0; padding-left:18px;border-left:3px solid #247ec0;font-weight:bold;}
.backmain .left .on .navtitle:hover{ background:#fff;}
.backmain .left .navigation .navtitle img{margin:0px 5px 0px 0px;}
.backmain .left ul{ padding:5px 0px 10px 0px;}
.backmain .left li{ height:30px; line-height:30px;}
.backmain .left li a{color:#697680; display:block; padding:0px 20px 0px 30px; -webkit-transition:.3s; transition:.3s; }
.backmain .left li.curr a{color:#247ec0;}
.backmain .left li a:hover{ color:#247ec0;}
.backmain .left ul .yincbtn a{width:200px; height:6px; background:url(bg20.png) no-repeat; display:block}
.backmain .left ul .yincbtn a:hover{ text-decoration:none;background:url(bg21.png) no-repeat;}

.backmain .right{ float:right}

.navbox { background:#fff; width: 320px; position:fixed;right:-320px;top:0px;height:100%; overflow-x:hidden; overflow-y:auto;z-index: 10000;}
.navbox .close{width:13px;height:13px; background:url(close2.png) no-repeat; position:absolute;right:15px;top:15px; -webkit-transition:0.3s; transition:0.3s; cursor:pointer;}
.navbox .close:hover{ background:url(close-on.png) no-repeat;}
.navbox #demo .name{ padding-left:20px;margin-top:20px;height: 34px;line-height: 34px;color: #303234;font-size: 14px;text-align: left !important;}
.navbox .navbox-tiles{margin-top:20px; font-size:12px; line-height:22px; padding:0px 20px;color:#63686b; overflow:hidden;}
.navbox .navbox-tiles .name{ margin-bottom:-27px;}
.navbox .navbox-tiles a{float:inherit !important;height:inherit !important;line-height:22px !important;}
.navbox .navbox-tiles img{height:30px;width:auto; display:none;}
.navbox .navbox-tiles .tips{color:#8c9499; padding-bottom:5px; display:block;}
.navbox .navbox-tiles div{ text-align:left !important;}
.navbox .changecolor .colorbutton{ display:block;}
.navbox .changecolor .colorbutton a{ background:#6f7c83; display:block;width:100px;float:left;height:30px; line-height:30px; text-align:center;border-radius:3px;margin:10px 0px 0px 20px;border:1px solid #6f7c83; -webkit-transition:0.3s; transition:0.3s;filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1;  opacity: 1;font-size: 14px; color:#fff;} 
.navbox .changecolor .colorbutton a:hover{ background:#647077;border:1px solid #647077;}
.navbox .changecolor .colorbutton .shut{ border:1px solid #d0d7d9; background:#fff;color:#63686b;}
.navbox .changecolor .colorbutton .shut:hover{ background:#f3f5f6; border:1px solid #d0d7d9;}
.navbox .button{margin-top:10px; margin-bottom:20px; display:block;border-radius: 3px;outline: none;font-size: 12px;border: 1px solid #e6e9ea;color: #62686a;padding: 0 15px;height: 34px;line-height: 34px;cursor: pointer;background: #f3f5f6;}
.navbox .detail{color:#90989e; font-size:12px !important;}
.navbox .menuSetup{ padding:0px 20px 0px 5px; font-size:12px;}
.navbox .menuSetup label{ cursor:pointer; padding-right:0px; padding-left:15px;}

.top-bar {height: 43px;  position: relative;  z-index: 1000;}
.top-bar .bar {width: 100%;  z-index: 2;}
#wrapbg{width:100%;height:100%; background:url(rgba0-12.png); position:fixed;top:0;left:0; display:none;z-index: 999;}

.top-bar.navbox-open .navbox-trigger {background-color: #484747;}
.top-bar.navbox-open .navbox {visibility: visible; opacity: 1; overflow-y:auto}

.navbox .pane {margin-top: 10px;}
.navbox .pane .icons{ padding:0px 10px 0px 20px;}
.navbox .pane .icons a{ height:40px !important;}
.navbox .pane .icons em{width:30px; height:30px; border-radius:50%; float:left; margin-right:10px;}
.navbox .pane .icons .c1{ background:#247ec0; }
.navbox .pane .icons .c2{ background:#424b5c;}
.navbox .pane .icons .c3{ background:#2abd6a;}
.navbox .pane .icons .c4{ background:#e77f0e; }
.navbox .pane .icons .c5{ background:#e53838;}
.navbox .pane .icons .curr .c1{background:#247ec0 url(yesicon.png) no-repeat 50% 50%; }
.navbox .pane .icons .curr .c2{background:#424b5c url(yesicon.png) no-repeat 50% 50%; }
.navbox .pane .icons .curr .c3{background:#2abd6a url(yesicon.png) no-repeat 50% 50%; }
.navbox .pane .icons .curr .c4{background:#e77f0e url(yesicon.png) no-repeat 50% 50%; }
.navbox .pane .icons .curr .c5{background:#e53838 url(yesicon.png) no-repeat 50% 50%;}



.footer{ height:40px; line-height:40px; background:#222933;color:#b9bbbc;z-index: 100;position: relative;}
.footer .left{width:180px; float:left; text-align:center; }
.footer .left a{color:#b9bbbc;}
.footer .left a font{ display:none;}
.footer .center{ float:left}
.footer .center a{color:#b9bbbc;margin:0px 20px;}
.footer .right{ float:right; padding-right:20px;}

.bodyStyle1 .footer,.bodyStyle3 .footer,.bodyStyle4 .footer,.bodyStyle5 .footer{color:#fff;}
.bodyStyle1 .footer .left a,.bodyStyle3 .footer .left a,.bodyStyle4 .footer .left a,.bodyStyle5 .footer .left a{color:#fff;}
.bodyStyle1 .footer .center a,.bodyStyle3 .footer .center a,.bodyStyle4 .footer .center a,.bodyStyle5 .footer .center a{color:#fff;}

.bodyStyle1 .footer{ background:#247ec0;}
.bodyStyle3 .footer{ background:#21b05f;}
.bodyStyle4 .footer{ background:#eb613e;}
.bodyStyle5 .footer{ background:#e53838;}

