<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$GetClassName}-{$GetSiteName}- 第[#CurrPage]页</title>
<meta name="keywords" content="{$GetClass_Meta_KeyWord}"/>
<meta name="description" content="{$GetClass_Meta_Description}"/>
<link href="{$GetInstallDir}images/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script type="text/javascript" src="{$GetInstallDir}ks_inc/common.js"></script>
</head>

<body>
{LB_头部通用}
<div class="demand_box">
	<div class="demand_l">
		{$GetTopClassName}
		<span class="orange"></span>
	</div>
	<div class="demand_r">
		<ul>
		{LB_子栏目导航}
		<li>{$GetSpecial}</li>
		</ul>
	</div>
</div>


<div class="blank10"></div>
<div class="banner">{=GetAdvertise(36)}</div>
<div class="blank10"></div>

<div class="navigation">{LB_位置导航}</div>

<div class="wrap clearfix">
    <div class="leftbox fl">
        <div class="newslist">
                 {LB_终级文章列表2}
        </div>
    </div>
  
    <div class="rightbox fr">
    
        <div class="newstit"><i></i>最新文章</div>
        <div class="newpaper">
          <ul>
             {LB_最新文章}
          </ul>
        </div>
        
        <div class="newstit"><i></i>推荐文章</div>
        <div class="newpaper">
          <ul>
             {LB_推荐文章}
          </ul>
        </div>
        
        <div class="newstit"><i></i>热门文章</div>
        <div class="newpaper">
          <ul>
             {LB_热门文章}
          </ul>
        </div>
        
        
    </div>
</div>
  
  
  
<!--版权信息-->
{LB_尾部通用}
<!--版权信息-->



</body>
</html>
