<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$GetSiteName}-{$ShowGroupName}</title>
<link href="{$GetInstallDir}user/images/css.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" language="javascript"></script>
<script src="js/ks.space.js" language="javascript"></script>
<script src="js/ks.space.page.js" language="javascript"></script>
<!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>
<!-- head begin -->
<div class="clubtop">
    <div class="clubtopbox">
	      <div class="logo"><img src="{$GetInstallDir}club/images/kslogo.png" alt="kesioncms"></div>
		  <div class="clubnav">
		      <ul>
			       <li class="home"><a href="{$GetInstallDir}">首页</a></li>
				   <li class="wb"><a href="{$GetInstallDir}user/weibo.asp">微博</a></li>
				   <li class="mhcurr"><a href="{$GetInstallDir}user/space.asp">门户</a></li>
				   <li class="lt"><a href="{$GetInstallDir}club/">论坛</a></li>
				   <li class="hy"><a href="{$GetInstallDir}user/">会员</a></li>
			  </ul>
		  </div>
		   <div class="poplogin">
		    {$GetPopLogin}
		   </div>
	</div>
</div>
<div class="clear blank10"></div>
<!--begin-->
<div class="qzmain clearfix">
   <div class="left">
       <div class="left01">
	      <div class="title"><img src="{$GetInstallDir}user/images/icon10.png" align="absmiddle" /> 圈子介绍</div>
		  <div class="left01box"><ul>{$ShowGroupInfo}</ul></div>
	   </div>
	   <div class="clear blank10"></div>
	   <div class="left01">
	      <div class="title"><img src="{$GetInstallDir}user/images/icon21.png" align="absmiddle" /> 圈子公告</div>
		  <div class="left02box"><ul>{$ShowAnnounce}</ul></div>
	   </div>
	   
	    <div class="clear blank10"></div>
	   <div class="left01">
	      <div class="title"><img src="{$GetInstallDir}user/images/icon1.gif" align="absmiddle" /> 最新成员</div>
		  <div class="left03box">{$ShowNewUser}</div>
	   </div>
	   
	    <div class="clear blank10"></div>
	   <div class="left01">
	      <div class="title"><img src="{$GetInstallDir}user/images/icon1.gif" align="absmiddle" /> 最活跃成员</div>
		  <div class="left03box"> {$ShowActiveUser}</div>
	   </div>
	   
	   
	   
	   
   </div>
   
   <div class="right">
        <!--<h2>{$ShowGroupName} <span>被访问过1000次</span></h2>-->
		<div class="clear blank10"></div>
		<div class="qznav">
		   <div class="l"></div>
		   <div class="m"><ul>{$ShowNavigation}</ul></div>
		   <div class="r"></div>
		</div>
		<div class="clear blank10"></div>
		<div class="groupmain">{$GroupMain}</div>
		
		
   </div>
   
   
	
</div>
<!--end-->

<div class="clear"></div>

	 <div class="foot"> {$GetCopyRight}</div>
         
</body>
</html>