<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{@board.seotitle}-{$GetSiteTitle}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name="keywords" content="{@board.seokeywords}" />
<meta name="description" content="{@board.seodescription}" />
<meta name="author" content="kesion.com"/> 
<link href="{$GetInstallDir}{$GetClubInstallDir}/images/club.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script src="{$GetInstallDir}ks_inc/common.js"></script>
<script src="{$GetInstallDir}{$GetClubInstallDir}/images/club.js"></script>
<script src="{$GetInstallDir}ks_inc/weibo.js"></script>
<script src="{$GetInstallDir}{$GetClubInstallDir}/images/LeeSelect.js" type=text/javascript></script>
<!--[if IE 6]>
<script src="/js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>

	{LB_论坛头部通用}

		 {IF:ID<>0 and GuestTitle<>"无权进入"}
				<div class="clubcate">
					  <div class="xintei">
							<a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=prev">上一个主题</a> <a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=next">下一个主题</a>
					  </div>
					  <div class="tiezhi"> 
						<li>
						{$PostButtonAction}
						&nbsp;
						<a href="#reply"><img src="{$GetInstallDir}{$GetClubInstallDir}/images/button_reply.png" /></a>
						</li>
						<li><a href="javascript:void(0)" onClick="window.print()">打印本帖</a>
						<a href="javascript:void(0)" onClick="copyToClipBoard(location.href)">复制本帖地址</a></li>
					  </div> 
			   </div>
		{/IF}

	<div class="clear"></div>
    
     <div class="clublist">
	    {ElseIF:ParentID=0 or GuestTitle="无权进入"}
		 <div class="guestlistbox">
		 {$GetGuestList}
		 </div>
		<div class="clear blank8"></div>
		{Else}
			<div class="clubmainbox">
					<div class="banguirules"> 
					  <a href="{$GetBoardUrl}" class="currboardname">{@board.BoardName}</a> <br />
					  今日：<span>{@board.todaynum}</span>&nbsp;&nbsp;&nbsp;&nbsp;主题： <span>{@board.topicnum}</span>&nbsp;&nbsp;<br />版主：{@board.Master} &nbsp;&nbsp;&nbsp;<a href="javascript:;" onClick="$('#mybg').toggle('fast');">查看版规&raquo;</a><br/>
					 {@board.BoardIntro}
					  <div class="BoardRules" id='mybg' style="display:none">
					  <strong>本版版规：</strong><br/>{@board.BoardRules}</div>
					</div>
			</div>
			<div class="blank8 clear"></div>
			
			<div class="clublistt">
			   <div class="clublistt_left">{$PostButtonAction}&nbsp;{$ShowManageButton}</div>
			   <div class="clublistt_right">{@board.showPage}</div>
			</div>
									
			<div class="blank8 clear"></div>
			 {$BoardCategory} 
			 <div class="clear"></div>
			<div class="clubmainbox" style="background:#fff;">
			 
			 {IF:BSetting(65)="1"}
			  <!---显示头像的方式--->
			  <table border="0" width=100%  align="center" class="glist" cellpadding="0" cellspacing="0">
				<thead class="category">
					<tr>
						<td class="banmian">{$ListType}</td>
						<td style='text-align:right'><label><input onClick="setNewWin();" id="setNewWin" type='checkbox' value='1'/>新窗口打开</label></td>
					</tr>
				 </thead>
			 </table>
			 
			 {@toploop.begin}
				<table border="0" width=100% align="center" class="topiclist" cellpadding="0" cellspacing="0">
					<tr>
						<td style="height:75px;width:70px;padding-left:20px;"><div class="avatar48"><a title="查看TA的空间" href="../space/?{@item.UserID}" target="_blank"><img src="../uploadfiles/user/avatar/{@item.UserID}.jpg" onerror="this.src='../user/images/noavatar_middle.gif';" /></a></div></td>
						<td class="topictitle">
						{@item.subjectlist}{@item.Ico}
						<br/>
						<span class="gray">
						{@item.Author}  <span>发表于：{@item.PubTime}</span>  <span>查看：{@item.Hits}</span>  <span>回复：{@item.ReplayTimes}</span> <span><a href="javascript:;" class="author" title="关注TA" onClick="addatt({@item.UserID},false)">+ 关注</a></span>
						</span>
						</td>
						<td style="width:150px;text-align:right;padding-right:20px;">
							{@item.LastReplayUser}
							<div class="time">{@item.LastReplayTime}</div>
						</td>
					</tr>
				</table>
				{@toploop.end}
			 
			  {@loop.begin}
				<table width=100%  border="0" align="center" class="topiclist" cellpadding="0" cellspacing="0">
					<tr>
						<td style="height:75px;width:70px;padding-left:20px;"><div class="avatar48"><a title="查看TA的空间" href="../space/?{@item.UserID}" target="_blank"><img src="../uploadfiles/user/avatar/{@item.UserID}.jpg" onerror="this.src='../user/images/noavatar_middle.gif';" /></a></div></td>
						<td class="topictitle1">
						{@item.subjectlist}
						<br/>
						<span class="gray">
						{@item.Author}  <span>发表于：{@item.PubTime}</span>  <span>查看：{@item.Hits}</span>  <span>回复：{@item.ReplayTimes}</span> <span><a href="javascript:;" class="author" title="关注TA" onClick="addatt({@item.UserID},false)">+ 关注</a></span>
						</span>
						</td>
						<td style="width:150px;text-align:right;padding-right:20px;">
							{@item.LastReplayUser}
							<div class="time">{@item.LastReplayTime}</div>
						</td>
					</tr>
				</table>
				{@loop.end}
				
			 {/IF}
			
			{IF:BSetting(65)<>"1"}
	 		 <table border="0" width=100%  align="center" class="glist" cellpadding="0" cellspacing="0">
				<thead class="category">
					<tr>
						<td colspan="2" class="banmian">{$ListType}</td>
						<td style="width:80px;text-align:center">作者</td>
						<td style="width:60px;text-align:center">回复</td>
						<td style="width:150px;text-align:center">最后发表↓</td>
					</tr>
				 </thead>
			 </table>
				{@toploop.begin}
				<table border="0" width=100% align="center" class="topiclist" cellpadding="0" cellspacing="0">
					<tr>
						<td style="width:30px;text-align:center">{@item.Ico}</td>
						<td class="topictitle">
						{@item.subjectlist}
						</td>
						<td style="width:80px;text-align:center">{@item.Author}</a><div class="time">{@item.PubTime}</div></td>
						<td style="width:60px;text-align:center">{@item.ReplayTimes}<div class="time">{@item.Hits}</div></td>
						<td style="width:150px;text-align:center">
							{@item.LastReplayUser}
							<div class="time">{@item.LastReplayTime}</div>
						</td>
					</tr>
				</table>
				{@toploop.end}
				{@loop.begin}
				<table width=100%  border="0" align="center" class="topiclist" cellpadding="0" cellspacing="0">
					<tr>
						<td style="width:30px;text-align:center">{@item.Ico}</td>
						<td class="topictitle">
						{@item.subjectlist}
						</td>
						<td style="width:80px;text-align:center">{@item.Author}</a><div class="time">{@item.PubTime}</div></td>
						<td style="width:60px;text-align:center">{@item.ReplayTimes}<div class="time">{@item.Hits}</div></td>
						<td style="width:150px;text-align:center">
							{@item.LastReplayUser}
							<div class="time">{@item.LastReplayTime}</div>
						</td>
					</tr>
				</table>
				{@loop.end}
			{/IF}
		 </div>
		 <div class="clear blank8"></div>
		 <div class="clublistt">
			   <div class="clublistt_left">{$PostButtonAction}&nbsp;{$ShowManageButton}</div>
			   <div class="clublistt_right">{@board.showPage}</div>
			</div>
			
		<!-- <div class="clear blank8"></div>
		 
		  <table width=100%  border="0" cellpadding="0" cellspacing="0" align="center" class="clublistf">
			 <tr>
			   <form name="search" method="get" action="{$GetInstallDir}{$GetClubInstallDir}/query.asp">
			  <td colspan="2">
			  {IF:BSetting(65)<>"1"}
			   <span style="float:left;">
			   <strong>图标说明：</strong>
			   <img src="{$GetInstallDir}{$GetClubInstallDir}/images/common.gif" align="absmiddle" />普通主题 
			   <img src="{$GetInstallDir}{$GetClubInstallDir}/images/vote.gif" align="absmiddle"  />投票主题 
			   <img src="{$GetInstallDir}{$GetClubInstallDir}/images/hot.gif" align="absmiddle" />热门 
			   <img src="{$GetInstallDir}{$GetClubInstallDir}/images/top.gif" align="absmiddle" />置顶 
			   <img src="{$GetInstallDir}{$GetClubInstallDir}/images/ztop.gif" align="absmiddle"  />总置顶 
			   <img src="{$GetInstallDir}{$GetClubInstallDir}/images/lock.gif" align="absmiddle" />锁定
			   </span>
			   {/IF}
			   <input type="hidden" name="boardid" value="{@boardid.BoardID}"/>
				<span style="float:right">
			   本版搜索关键字：<input type="text" class="textbox" name="key" id="key"> <input type="radio" name="SType" value="1" checked>主题 <input type="radio" name="SType" value="2">作者 <input type="image" border="0" onClick="return(checksearch())" src="{$GetInstallDir}club/images/so.png" align="absmiddle">
			   </span>
			   </td>
			   </form>		   
			 </tr>
		 </table> 
		 
		{/ElseIF}
		 
	 </div> 

-->
<div class="blank8 clear"></div>

<div class="copyinfo">
   <div class="power"></div>
   <div class="foot">厦门科汛软件有限公司 &copy 2006-2015 版权所有
   {ElseIF:parentid=0 or GuestTitle="无权进入"}
    {#ExecutTime}
  {Else}
    {@board.ExecutTime}
  {/ElseIF}
	</div>
</div>
<div class="blank8 clear"></div>

</div>

</body>
</html>