<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GuestTitle}-{$GetSiteTitle}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name="keywords" content="{$GuestTitle}"/>
<meta name="description" content="{@topic.description}"/>
<meta name="author" content="kesion.com"/>
<link href="{$GetInstallDir}{$GetClubInstallDir}/images/club.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script src="{$GetInstallDir}ks_inc/common.js"></script>
<script src="{$GetInstallDir}{$GetClubInstallDir}/images/club.js"></script>
<script src="{$GetInstallDir}ks_inc/weibo.js"></script>
<script src="{$GetInstallDir}{$GetClubInstallDir}/images/LeeSelect.js" type=text/javascript></script>
<!--[if IE 6]>
<script src="/js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>
{LB_论坛头部通用}

 {ElseIF:ID<>0 and GuestTitle<>"无权进入"}
	    <div class="clubcatebox">
        	
		  <div class="xintei">
          		
				<a href="{@topic.BoardUrl}"><<返回列表</a><a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=prev">上一个主题</a>  <a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=next">下一个主题</a> 
			<a href="javascript:void(0)" onClick="window.print()">打印本帖</a> 
			<a href="javascript:void(0)" onClick="copyToClipBoard(location.href)">复制本帖地址</a>
		  </div>
		  
		  

		  <div class="tiezhi"> 
			{$PostButtonAction}
			
			{IF:KS.C("UserName")<>"" or KS.Setting(54)="3"}
			<a href="#reply"><img src="{$GetInstallDir}{$GetClubInstallDir}/images/button_reply.png" /></a>
			{/IF}
			{IF:KS.C("UserName")="" and KS.Setting(54)<>"3" }
			<a href="javascript:ShowLogin();"><img src="{$GetInstallDir}{$GetClubInstallDir}/images/button_reply.png" /></a>
			{/IF}
		  </div> 
       </div>
 
 {@topic.ManageMenu}
 
<div class="clubmainbox" style="background:#fff;">
 {IF:BSetting(66)="1"}
	    <table width="100%" style="background:#fff;border:1px solid #B3C5D1;" cellspacing="0" cellpadding="0">
			   <tr>
				 <td align="center" class="topicleft tns">
				 <table cellpadding="1" cellspacing="0" border="0">
					<tr>
					<th><p>{@topic.Hits}</p>查看</th><td><p>{@topic.totalreplay}</p>回复</td>
					</tr>
				 </table>
				 </td>
				 <td class="zhuti" style="border-bottom:5px solid #DAEEFA;position:relative;">主题：{@topic.BoardCategory}{@topic.Subject}  <span>[<a href="javascript:void(0)" onClick="topicfav({@topic.topicid},'{$GetClubInstallDir}',{$BoardID})">收藏主题</a>]</span> {@topic.Jing}</td>
                 <td  style="border-bottom:5px solid #DAEEFA;width:110px;padding-right:4px;">{@topic.turnto}&nbsp;</td>
			   </tr>
			  </table>
	      {@loop.begin}
		  
		  
		     <a name="{@item.n}"></a>
			  <table id="floor{@item.N}" onMouseOver="$('#{@item.N}').show();" onMouseOut="$('#{@item.N}').hide();" cellspacing="0" width="100%" border="0" cellpadding="0" style="background:#fff;border:1px solid #B3C5D1;margin-top:8px;margin-bottom:1px;word-break:break-all;">
				<tr>
				 <td class="topicleft" style="border-bottom:none" valign="top">
					  <div class="usermenu">
					   {@item.UserInfo}
					  </div>		
				</td>
				<td valign="top">
				 <div class="titleright">
					<span style="float:left">{@item.OnlineIco} <a href="{@item.spaceurl}" target="_blank" title="浏览{@item.UserName}的空间">{@item.UserName}</a> 发表于：{@item.PubTime}  </span>
					<span style="float:right;padding-right:10px;"><span style="color:#ff6600;font-weight:bold">{@item.Floor}</span></span>	
					</div>
					 
					 <div class="subjecttit" style="padding-left:5px">
						   {@item.Content}		 
					 </div>
					 
					 
				 </td>
				</tr>{@item.showbshare}
				<tr>
				<Td class="topicleft" style="height:30px;line-height:30px;border-bottom:none">&nbsp;
				</Td>
				<td style="padding-left:10px;">
				
				<span style="margin:5px;display:None;" class="hidemenu" id="{@item.N}">
					  {@item.BottomSimpleMenu}{@item.TopicManageMenu} {@item.ShowUserManage}
					 </span></td>
				</tr>
                
			 </table>
			 {@loop.end}
		  
	    <div id="ShowTopicByAjax"></div>

		<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
		 <td class="topicleft" style="color:#ccc;height:40px;border:0px;text-align:center;"><a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=prev">＜上一主题</a> | <a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=next">下一主题 ＞</a></td>
		 <td >{@topic.showpage}</td>
	   </tr>
		</table>
			 
{/IF}
		  
{IF:BSetting(66)<>"1"}
	    <table width="100%" cellspacing="0" cellpadding="0">
			   <tr>
				 <td align="center" class="topicleft tns">
				 <table cellpadding="1" cellspacing="0" border="0">
					<tr>
					<th><p>{@topic.Hits}</p>查看</th><td><p>{@topic.totalreplay}</p>回复</td>
					</tr>
				 </table>
				 </td>
				 <td class="zhuti" style="border-bottom:5px solid #DAEEFA;position:relative;">主题：{@topic.BoardCategory}{@topic.Subject}  <span>[<a href="javascript:void(0)" onClick="topicfav({@topic.topicid},'{$GetClubInstallDir}',{$BoardID})">收藏主题</a>]</span> {@topic.Jing}</td>
                 <td  style="border-bottom:5px solid #DAEEFA;width:110px;padding-right:4px;">{@topic.turnto}&nbsp;</td>
			   </tr>
			  </table>
	      {@loop.begin}
			  <a name="{@item.n}"></a>
			  <table id="floor{@item.N}" cellspacing="0" width="100%" border="0" cellpadding="0" style="margin-bottom:1px;word-break:break-all;">
				<tr>
				 <td class="topicleft" style="border-bottom:none" valign="top">
					  <div class="usermenu">
					   {@item.UserInfo}
					   {@item.ShowUserManage}
					  </div>		
				</td>
				<td valign="top">
				 <div class="titleright">
					<span style="float:left">{@item.OnlineIco} <a href="{@item.spaceurl}" target="_blank" title="浏览{@item.UserName}的空间">{@item.UserName}</a> 发表于：{@item.PubTime} &nbsp;{@item.PubIP} {@item.ShowAuthorOnly} </span>
					<span style="float:right"><span style="color:#ff6600;font-weight:bold">{@item.Floor}</span>&nbsp;</span>		         </div>
					 
					 <div class="subjecttit" style="padding-left:5px">
						   {@item.Content}		 
					 </div>
				 </td>
				</tr>
				{@item.showbshare}
				{@item.UserSignAndBottomAD}
				<tr>
				  <td class="topicleft"  valign="top">&nbsp;</td>
				  <td valign="top" style="height:33px; line-height:33px; padding-left:5px;border-top:1px dashed #efefef;border-bottom:5px solid #E8F3FD">
					   <span style="width:300px;float:left">{@item.QuoteAndReply}</span>
					   <span style="float:right">{@item.TopicManageMenu}</span>			  
				  </td>
				</tr>
			 </table>	
		   
			
		  {@loop.end}
		  
		  
	    <div id="ShowTopicByAjax"></div>

		<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
		 <td class="topicleft" style="color:#ccc;height:40px;border-bottom:0px;text-align:center;"><a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=prev">＜上一主题</a> | <a href="{$GetInstallDir}{$GetClubInstallDir}/display.asp?boardid={$BoardID}&id={$TopicID}&move=next">下一主题 ＞</a></td>
		 <td >{@topic.showpage}</td>
	   </tr>
		</table>
 {/IF}
</div>	


	<div class="clear blank8"></div>	
<div class="clubmainbox" style="background:#fff; ">	
	{@replay.begin}
		<a name="reply"></a>
		<iframe src="about:blank" name="postframe" id="postframe" style="display:none" width="0" height="0"></iframe>
		<form name="postform" id="postform" action="{#InstallDir#}{#ClubDir#}/save_reply.asp" target="postframe" method="post">
		<input type="hidden" name="topicid" value="{$TopicID}"/>
		<input type="hidden" name="boardid" id="boardid" value="{$BoardID}"/>
		<input type="hidden" name="posttable" value="{$PostTable}"/>
		<input type="hidden" name="subject" value="{@topic.subjectnohtml}"/>
		<input type="hidden" name="istop" value="{$IsTop}"/>
		<input type="hidden" name="isReplyTips" value="{$IsReplyTips}"/>
		<input type="hidden" name="PostUserName" value="{$PostUserName}"/>
		<table width="100%" cellspacing="0" cellpadding="0">
		 <tr>
			<td valign="top" class="topicleft" style="padding-top:10px; border-bottom:0px;text-align:center;">
			 <strong>{@replay.username}</strong>
			 <div class="userface"><img src="{@replay.UserFace}" onload='if (this.width>130){this.width=130;}' onerror="this.src='../images/face/boy.jpg'"/></div>
		 <div class="clubqm" style="color:#999999;padding-left:20px">
			<label><input type="checkbox" value="1" disabled>HTML 代码</label><br/>
			<label><input type="checkbox" value="1" checked disabled>UBB 代码</label><br/>
			<label><input type="checkbox" id="showsign" value="1" checked>显示签名</label><br/>
			<label><input type="checkbox" id="showip" value="1">隐藏发帖IP</label><br/>
			<label><input type="checkbox" name="toend" id="toend" value="1">回帖后转到最后一页</label>
		 </div>
		</td>
		<td style="padding:10px;margin:0px;background:#FAFDFF;">
		    <div class="replytopic">回复主题：<span id="subjectnohtml">{@topic.subjectnohtml}</span> </div>
			<div class="clear blank8"></div>
			<textarea name="Content" id="Content" style="display:none;width:550px;height:200px;margin:0;padding:0;"></textarea>
			<iframe id="Editor" name="Editor" src="../editor/ubb/simple.html?id=Content" frameBorder="0" marginHeight="0" marginWidth="0" scrolling="No" style="height:215px;width:550px"></iframe>
	<table width="100%">
	          {@replay.ShowUpFiles}
			 <tr>
			  <td>
			 
			  <input type="button" class="btnreply" onClick="return(checkform())" style="width:210px;height:25px;line-height:22px;" value=" 提交回复 (按Ctrl+Enter直接提交) " id="submitbtn" />
			  
			  {@replay.ChangeCategory}
			  
			  </td>
		   </tr>
		   </table>
		</td>
	   <td style="text-align:left;background:#FAFDFF;" valign="top" class="replyemot">
	     <br/> <br/>
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/25.gif" onClick="insertHTMLToEditor('[em25]')" title="5555">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/26.gif" onClick="insertHTMLToEditor('[em26]')" title="不是我">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/27.gif" onClick="insertHTMLToEditor('[em27]')" title="不要啊">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/28.gif" onClick="insertHTMLToEditor('[em28]')" title="亲一亲">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/39.gif" onClick="insertHTMLToEditor('[em39]')" title="嘿嘿嘿">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/29.gif" onClick="insertHTMLToEditor('[em29]')" title="加油">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/30.gif" onClick="insertHTMLToEditor('[em30]')" title="向前进">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/31.gif" onClick="insertHTMLToEditor('[em31]')" title="吓死你">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/32.gif" onClick="insertHTMLToEditor('[em32]')" title="呐喊">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/48.gif" onClick="insertHTMLToEditor('[em48]')" title="无聊">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/34.gif" onClick="insertHTMLToEditor('[em34]')" title="呵呵呵">
		 <img src="{#InstallDir#}editor/ubb/images/smilies/default/35.gif" onClick="insertHTMLToEditor('[em35]')" title="呸">
	 
	   </td>
	</tr>
	
	</table>
	 </form>
		<script type="text/javascript">
		function checkform(){  
		var content=Editor.getEditorContentByUbb();
		if (content==""){ $.dialog.tips("请填写回复内容",1,'error.gif',function(){});return false;}
		  $("#Content").val(content);
          $("#postform").submit();
		   $("#submitbtn").attr({"value":" 您的回复正在提交,请稍候... ","disabled":true});	 
		}
		function InsertFileFromUp(FileList,fileSize,maxId,title){   
			 var files=FileList.split('/');
			 var file=files[files.length-1];
			 var fileext = FileList.substring(FileList.lastIndexOf(".") + 1, FileList.length).toLowerCase();
			if (fileext=="gif" || fileext=="jpg" || fileext=="jpeg" || fileext=="bmp" || fileext=="png"){
							 insertHTMLToEditor('[img]'+FileList+'[/img]');	
			  }else{
			  var str="[UploadFiles]"+maxId+","+fileSize+","+fileext+","+title+"[/UploadFiles]";
							 insertHTMLToEditor(str);	
			 }
		}
		function insertHTMLToEditor(codeStr){  Editor.insertText(Editor.bbcode2html(codeStr));} 
		</script>
	{@replay.end}
		
	 </div> 


</div>
{Else}
	<div class="clubmainbox">
	{$GetGuestList}
	</div>
{/ElseIF}



<div class="blank8 clear"></div>
<div class="copyinfo">
   <div class="power"></div>
   <div class="foot">厦门科汛软件有限公司 &copy 2006-2015 版权所有 {ElseIF: GuestTitle="无权进入"}
    {#ExecutTime}
  {Else}
    {@topic.ExecutTime}
  {/ElseIF}</div>
</div>
<div class="blank8 clear"></div>


</div>

</body>
</html>