<?xml version="1.0" encoding="utf-8"?>
<MyApp>
	<App>
		<AppName>DIG/点评/评论</AppName>
		<Role>dig</Role>
		<AppStatus>1</AppStatus>
		<AppItem>
			<ItemName>文档DIG管理</ItemName>
			<ItemUrl><![CDATA[Plus_DigMood/KS.DiggList.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KSMS20009</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>心情指数管理</ItemName>
			<ItemUrl><![CDATA[Plus_DigMood/KS.Mood.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KSMS20008</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>点评管理</ItemName>
			<ItemUrl><![CDATA[Plus_DigMood/KS.Mood.asp?TypeFlag=1]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KSMS20014</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>评论管理</ItemName>
			<ItemUrl><![CDATA[Plus_DigMood/KS.Comment.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>M010002</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>审核评论</ItemName>
			<ItemUrl><![CDATA[Plus_DigMood/KS.Comment.asp?ComeFrom=Verify]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>M0100021</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
	</App>
</MyApp>
