<xml xmlns:s="uuid:BDC6E3F0-6DA3-11d1-A2A3-00AA00C14882" xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
	<rs:data>
		<z:row id="0" bshare_open="false" bshare_uuid="2c184493-20ac-4b40-802b-efc4f99a94f3" bshare_secret="4d7a94c1-a77a-4d30-993c-89d971f3349c" bshare_password="tttttt" bshare_domain="http://www.kesion.com" bshare_username="kesion@aaa.com"></z:row>
	</rs:data>
</xml>
