<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>商城购物 &gt;&gt; 银行付款</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
 
<link href="{$GetInstallDir}images/style.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" type="text/javascript"></script>
<!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>
{LB_头部通用}
<div class="clear blank10"></div>
<div class="banner">{=GetAdvertise(38)}</div>
<div class="clear blank10"></div>

<div class="wrap">

 
<div class="navigation">您当前位置：<a href="{$GetSiteUrl}">{$GetSiteTitle}</a> >> <a href="{$GetInstallDir}Item/list.asp?id=926">商城中心</a> >> 银行付款</div>
<div class="clear blank10"></div>

<!--银行付款-->
<div class="bankbox">
	 <h3>付款说明</h3>
		   <div class="fksm">我们提供的付款方式基本上均为马上到款，汇款金额请加个零头以方便确认（如：0.13元），您付完款以后请及时联系我们做汇款确认！以免引起不必要的麻烦。您也可以将汇款底单扫描传真到0596-2198252或者发电邮到<a href="mailto:kesioncms@hotmail.com?subject=Hello">kesioncms@hotmail.com</a>谨防网络骗子，请客户按照以下方式和帐户付款!</div>
</div>
<div class="blank10 clear"></div>
<div class="paybox">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr  align="center">
					  <td width="23%" class="payname">银行</td>
					  <td width="31%" class="payname">开户银行 </td>
					  <td width="30%" class="payname">卡号 </td>
					  <td width="16%" class="payname">收款人</td>
					</tr>
					<tr align="center">
					  <td><img src="{$GetInstallDir}images/icbc.gif" /></td>
					  <td>中国工商银行福建省分行</td>
					  <td>1234 5678 9000 000</td>
					  <td align="center">科汛</td>
					</tr>
					<tr align="center">
					  <td><img src="{$GetInstallDir}images/ccb.gif" /></td>
					  <td>中国建设银行福建省分行</td>
					  <td>1234 5678 9000 000</td>
					  <td align="center">科汛</td>
					</tr>
					<tr align="center">
					  <td><img src="{$GetInstallDir}images/abchina.gif" /></td>
					  <td>中国农业银行福建省分行<span class="STYLE1"></span></td>
					  <td>1234 5678 9000 000</td>
					  <td align="center">科汛</td>
					</tr>
					<tr align="center">
					  <td><img src="{$GetInstallDir}images/zsyh.gif" /></td>
					  <td>招商银行</td>
					  <td>1234 5678 9000 000</td>
					  <td align="center">科汛</td>
					</tr>
					<tr align="center">
					  <td><img src="{$GetInstallDir}images/alipay.gif" /></td>
					  <td>支付宝公司</td>
					  <td>kesioncms@hotmail.com</td>
					  <td align="center">科汛</td>
					</tr>
				  </table>
		   </div>   
</div>           
<!--银行付款end-->
<div class="clear blank10"></div>
{LB_商城服务}
<div class="clear blank10"></div>

<!--版权信息-->
{LB_尾部通用}
<!--版权信息-->





</body>
</html>