<!DOCTYPE html>
<html>
<head> 
<title>{$GetClassName}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="format-detection" content="telephone=no">
<link href="{$GetSiteUrl}{$Get3GInstallDir}/images/common.css" rel="stylesheet" type="text/css">
<link href="{$GetSiteUrl}{$Get3GInstallDir}/images/swiper.min.css" rel="stylesheet" type="text/css">
<link href="{$GetSiteUrl}{$Get3GInstallDir}/images/style.css" rel="stylesheet" type="text/css">
<script src="{$GetSiteUrl}ks_inc/jquery.js"></script>
<script src="{$GetSiteUrl}ks_inc/common.js"></script>
<script src="{$GetSiteUrl}{$Get3GInstallDir}/images/pageauto.js"></script>
<script src="{$GetSiteUrl}{$Get3GInstallDir}/images/swiper.min.js"></script>
<style>
.lmbg .lmbgtit{ background:url({$GetSiteUrl}3g/images/tit06.png) no-repeat 50% 50%;}
</style>

</head>

<body>
{LB_3g头部通用}
<section class="location">{$Navigation}</section>
<div class="LMlist whitebg">
	<div class="box02">
	 	{LB_3G下载分页}
   </div>
	  
</div>

</body>
</html>
