<?xml version="1.0" encoding="utf-8"?>
<MyApp>
	<App>
		<AppName>辅助工具</AppName>
		<Role>tool</Role>
		<AppStatus>1</AppStatus>
		<AppItem>
			<ItemName>数据库维护工具</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.Database.asp?Action=BackUp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KMST10007</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>数据库字段值替换</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.DataReplace.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KMST10008</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>在线执行SQL语句</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.Database.asp?Action=ExecSql]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KMST10009</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>上传文件管理</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.AdminFiles.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KMST10018</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>数据批量导入工具</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.Import.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KSO10001</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>一键管理工具</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.Tools.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KSO10004</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>模型数据移动工具</ItemName>
			<ItemUrl><![CDATA[Plus_Tool/KS.Model_Yd.asp]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KSO10004</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
		<AppItem>
			<ItemName>服务器参数探测工具</ItemName>
			<ItemUrl><![CDATA[../System/KS.Setting.asp?Action=CopyRight]]></ItemUrl>
			<Attribute>Disabled</Attribute>
			<Role>KMST10011</Role>
			<Ico>6.png</Ico>
			<Order>1</Order>
		</AppItem>
	</App>
</MyApp>
