<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$GetClassName}-{$GetSiteName}</title>
<meta content="{$GetClass_Meta_KeyWord}" name=keywords>
<meta content="{$GetClass_Meta_Description}" name=description>
<link href="{$GetInstallDir}images/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$GetInstallDir}ks_inc/jquery.js"></script>
<script type="text/javascript" src="{$GetInstallDir}ks_inc/common.js"></script>
<!--[if lt IE 9]>
<script src="{$GetInstallDir}ks_inc/html5.js"></script>
<![endif]-->	
<!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
<script>
$(function () {
	$(".box ul li").hover(
		function () {
			$(this).find(".dask").stop().delay(50).animate({"top":0,opacity:0.8},300)
		 },
		function () {
			$(this).find(".dask").stop().animate({"top":-200,opacity:0},300)
		}
	)
})
</script>
</head>

<body> 

{LB_头部通用}
<div class="demand_box">
	<div class="demand_l">
		{$GetTopClassName}
	</div>
	<div class="demand_r">
		<ul>
		{LB_图片导航}
		</ul>
	</div>
</div>

<div class="clear blank10"></div>
<div class="banner">{=GetAdvertise(36)}</div>
<div class="clear blank10"></div>



<div class="wrap">
  <div class="content">
        <div class="pic_hd">{LB_图片幻灯}</div>
        
        <div class="pi_right">
            <div class="ph"><h2>排行榜</h2></div>
            <ul>
                {LB_图片排行}
            </ul>
        </div>
        <div class="clear blank20"></div>
        
        <div class="pic">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1165" target="_blank">概念家居</a></h2></div>
            <ul>
                {LB_概念家居}
            </ul>
        </div>

        <div class="pic">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1163" target="_blank">美女图片</a></h2></div>
            <ul>
                {LB_美女图片}
            </ul>
        
        </div>
        
        <div class="box">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1162" target="_blank">旅游风景</a></h2> </div>
            <ul>
                {LB_旅游风景}
            </ul>
        </div>
        
        <div class="pic">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1205" target="_blank">美食每刻</a></h2></div>
            <ul>
                {LB_美食每刻}
            </ul>
        </div>
        
        <div class="pic">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1203" target="_blank">自然风景</a></h2></div>
            <ul>
                {LB_自然风景}
            </ul>
        </div>
        
        <div class="box">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1204" target="_blank">萌宠大全</a></h2> </div>
            <ul>
                {LB_萌宠大全}
            </ul>
        </div>
        
        <div class="box">
            <div class="title"><h2><a href="{$GetInstallDir}Item/list.asp?id=1206" target="_blank">影视壁纸</a></h2> </div>
            <ul>
                {LB_影视壁纸}
            </ul>
            </div>
        </div>

<div class="clear"></div>
 </div>
 
<!--版权信息-->
{LB_尾部通用}
<!--版权信息-->



</body>
</html>
