<?xml version="1.0" encoding="utf-8"?>
<field>
	<item id="5">
		<Fast>商城管理</Fast>
		<Role>shop0</Role>
		<Fastico>icon0{#BasicType}.png</Fastico>
		<TF>0</TF>
		<Fastmenu>
			<Fast>商品管理</Fast>
			<Fasturl><![CDATA[System/KS.ItemInfo.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>VIEWFOLDER</Attribute>
			<Role>0</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>添加{#ItemName}</Fast>
			<Fasturl><![CDATA[Shop/KS.Shop.asp?Action=Add&ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>AddInfo</Attribute>
			<Role>M{#ChannelID}10002</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>商城系统设置</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopSetting.asp]]></Fasturl>
			<Attribute>GoSave</Attribute>
			<Role>M{#ChannelID}10021</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
       <Fastmenu>
			<Fast>{#FolderName}管理</Fast>
			<Fasturl><![CDATA[System/KS.Class.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}10008</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>

		<Fastmenu>
			<Fast>处理所有订单</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopOrder.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}10020</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>

		<Fastmenu>
			<Fast>发退货查询</Fast>
			<Fasturl><![CDATA[Shop/KS.LogDeliver.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}10015</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>开发票查询</Fast>
			<Fasturl><![CDATA[Shop/KS.LogInvoice.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}10016</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>销售数据统计</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopStats.asp?Action=Custom]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}10017</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>收货人信息管理</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopUserOrder.asp]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20015</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>商品批量改价</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopSetAttribute.asp]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20016</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>送货/付款方式</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopDelivery.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20004</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>品牌管理</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopBrand.asp]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}10018</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>商品规格列表管理</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopSpecification.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20006</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>厂商管理</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopAuthor.asp?ChannelID={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20003</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>团购管理</Fast>
			<Fasturl><![CDATA[Shop/KS.GroupBuy.asp]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}30001</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>限时/限量抢购管理</Fast>
			<Fasturl><![CDATA[Shop/KS.Shop.asp?action=LimitBuy&channelid={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20008</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>捆绑销售商品管理</Fast>
			<Fasturl><![CDATA[Shop/KS.Shop.asp?action=BundleSale&channelid={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20009</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>换购商品管理</Fast>
			<Fasturl><![CDATA[Shop/KS.Shop.asp?action=ChangedBuy&channelid={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20010</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>商品库存报警管理</Fast>
			<Fasturl><![CDATA[Shop/KS.Shop.asp?action=StockAlarm&channelid={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20012</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>超值礼包管理</Fast>
			<Fasturl><![CDATA[Shop/KS.Shop.asp?action=Package&channelid={#ChannelID}]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20011</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>

		<Fastmenu>
			<Fast>优惠券管理</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopCoupon.asp]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20007</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
		<Fastmenu>
			<Fast>快递单模板管理</Fast>
			<Fasturl><![CDATA[Shop/KS.ShopExpress.asp]]></Fasturl>
			<Attribute>Disabled</Attribute>
			<Role>M{#ChannelID}20014</Role>
			<Fastico>6.png</Fastico>
			<order>1</order>
		</Fastmenu>
	</item>
</field>
