<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3c.org/TR/1999/REC-html401-19991224/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$GetSiteTitle}-{#title}</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7, IE=9">
<link href="/interview/images/style.css" type=text/css rel=stylesheet>
{$GetMetaKeyWord}
{$GetMetaDescript}
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javascript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="{$GetInstallDir}images/pic_roll.js"></script>
<script src="/ks_inc/lhgdialog.js"></script><!--鼠标滑动特效start--> 
<link href="{$GetInstallDir}images/style.css" rel="stylesheet" type="text/css" />

<style>
.wy td{padding:4px;font-size:14px;background:#FFCCCC;border-bottom:1px solid #999}
.jb td{padding:4px;font-size:14px;background:#FFFFCC;border-bottom:1px solid #999}
.date{color:#888;padding-left:10px;}

</style>
<script>
var id={#id};
var isLogin=false;
$(document).ready(function(){
    showTextRecord();
	showMsg();
});
var timer1=null;
var timer=null; 
//网友互动
function showMsg(){
	$.ajax({
	  url: "ajax.asp",
	  cache: false,
	  data: "action=loadmsg&id=" + id,
	  success: function(r){
			r=unescape(r);
			$("#showmsg").html(r)
	  }
  });
  if ($("#msgrefresh").attr("checked")){
	 timer=setTimeout('showMsg();',parseInt($("#pertime").val())*1000);
  }
}
function SetRefresh(v){
 if (v==true){
  timer=setTimeout('showMsg();', parseInt($("#pertime").val())*1000);
 }else{
  window.clearTimeout(timer); 
 }
}

//显示文字实录
var myorder=0;
function setOrder(o){
  myorder=o;
  showTextRecord();
}
function setRefresh(){
showTextRecord();
 $.dialog.alert('手动刷新成功！');
}
function showTextRecord(){
 $.ajax({
			url: "ajax.asp",
			cache: false,
			data: "action=loadtextrecord&id="+id+"&myorder="+myorder,
			success: function(r){
			r=unescape(r);
			$("#interviewText").html(r)
		 }
	 });
	 if ($("#textrefresh").attr("checked")){
	 timer1=setTimeout('showTextRecord();',parseInt($("#textpertime").val())*1000);
	 }
}
function SetTextRefresh(v){
if (v==true){
  timer1=setTimeout('showTextRecord();', parseInt($("#textpertime").val())*1000);
 }else{
  window.clearTimeout(timer1); 
 }
}

function CheckLogin(){
		if (isLogin==true) return;
		$.ajax({
		  url: "ajax.asp",
		  cache: false,
		  data: "action=checklogin&id=" + id,
		  success: function(r){
				r=unescape(r);
				if (r!="success")
					{
					if (r=="login")
						{
					  showlogin();
					}else{
					  $.dialog.alert(r);
					}
				}else{
			  isLogin=true;
		}
		 }
	});
}
function showlogin(){
	$.dialog({title:'会员登录',content:'url:../user/userlogin.asp?Action=Poplogin',width:397,height:184});
}
function SendMessage(){
		if ($("#IContent").val()==''){
			 $.dialog.alert('请输入提问内容！',function(){
			 $("#IContent").focus();
		 });
		  return false;
		}
		if ($("#NickName").val()==''){
			 $.dialog.alert('请输入您的昵称！',function(){
			 $("#NickName").focus();
		 });
		  return false;
		}
				  
		$.ajax({
			url: "ajax.asp",
			cache: false,
			data: "action=savemsg&id=" + id+'&NickName='+escape($("#NickName").val())+'&content='+escape($("#IContent").val()),
			success: function(r){
				 r=unescape(r);
				if (r=='login'){
					 showlogin();
				}else{
				  $.dialog.alert(r);
				  $("#IContent").val('');
			 }
		 }
	  });
 }
function showPhoto(src,alt){
 $.dialog({title:'查看大图',content:"<img alt='"+alt+"' src='"+src+"' style='max-width:880px'/>",width:880});
}
</script>
</head>
<body>
{LB_头部通用}

<div class="clear blank10"></div>
<div class="banner">{=GetAdvertise(36)}</div>
<div class="wrap">
<div class="demand_box">

	<div class="demand_ll">
		在线访谈
		<span class="orangee"></span>

	</div>
</div>

<div class="clear blank10 "></div>


<div class="InterViewpage" >
       
   		      <div class="zxft01-l"> 
			  
						<ul style="clear:both">
							<li>
								<img class="width" src="{#photourl}" align="left"/>
								<div class="" style=" float:left; margin-left:10px; width:447px;background:#E0F2FE; overflow:hidden; border:1px solid #bbd6e9; height:237px;">
									<dt><p class="tit01">主题：</p><p class="bt">{#title}</p></dt>
									<dt><p class="tit01">时间：</p><p>{#begindate}至{#enddate} </p></dt>
									<dt><p class="tit01">嘉宾：</p><p>{#guests}</p> </dt>
									<dt><p class="tit01">主持人：</p><p>{#host}</p></dt>
									<dt class="zhaiyao"><p class=" tit01 tit011">访谈摘要：</p><p class="cont01">{#content}</p></dt>
		
								</div>
							</li>
						</ul>
		      </div>
			  <div class="zxft01-r">
			  			<div class="tit01">视频回放</div>
						
						<div id="myvideo1"></div>
<script type="text/javascript" src="/ks_inc/ckplayer/ckplayer.js" charset="utf-8"></script>
<script type="text/javascript">
	var flashvars={f:'{#mediaurl}',c:0,s:0,b:1,p:1};
	var params={bgcolor:'#FFF',allowFullScreen:true,allowScriptAccess:'always'};
	CKobject.embedSWF('/ks_inc/ckplayer/ckplayer.swf','myvideo1','ckplayer_myvideo1','550','440',flashvars,params);
	var video=['{#mediaurl}->video/mp4'];
	var support=['iPad','iPhone','ios','android+false','msie10+false'];
	CKobject.embedHTML5('myvideo1','ckplayer_a1',550,440,video,flashvars,support);
</script>

						
			  
			  </div>	
<div class="clear blank10"></div>
			<div class="zxft01-l"> 
						<div class="title"><h4 style="float:right;font-weight:normal;font-size:12px">
						<a href="javascript:setOrder(0)">正序</a> <a href="javascript:setOrder(1)">倒序</a> <a href="javascript:setRefresh()">手工刷新</a>
						<label><input type='checkbox' name='textrefresh' id='textrefresh' value='1' onClick="SetTextRefresh(this.checked)" checked/>自动刷新</label>&nbsp;&nbsp;间隔：<select name="textpertime" id="textpertime"><option value="5">5秒</option><option value="10">10秒</option><option value="15">15秒</option><option value="20">20秒</option><option value="25">25秒</option><option value="30">30秒</option></select>
							   </h4><span>文字实录</span></div>
							   
							   
						 <div style="overflow-x:hidden;overflow-y:scroll;height:600px;border:1px solid #BBD6E9;overflow:auto">
							 <div id="interviewText">
							 
							 
							 </div>
						   </div>	   
							   
							   
			</div>
			
			<div class="zxft01-r">
					<div class="titlea">
			  			<h4>
						  <h4 style="float:right;font-weight:normal;font-size:12px">
						  <label><input type='checkbox' name='msgrefresh' id='msgrefresh' value='1' onClick="SetRefresh(this.checked)" checked/>自动滚屏</label>
间隔：<select name="pertime" id="pertime">
							<option value="5">5秒</option>
							<option value="10">10秒</option>
							<option value="15">15秒</option>
							<option value="20">20秒</option>
							<option value="25">25秒</option>
							<option value="30">30秒</option>
						   </select></h4>
						  网友互动
						   </h4>
					</div>	
					   
					 <div style="overflow-x:hidden;overflow-y:scroll; width:100%;height:410px;overflow:auto; margin-top:-10px;">
							 <div id="showmsg">
							
							 </div>
							 
					 </div>
					<div class="titlea"><span>网友提问</span></div>
					昵称：<input type="text" name="NickName" id="NickName" value="{#NickName}"/>
					<div class="celar blank10"></div>
					<textarea name="IContent" onClick="CheckLogin()" id="IContent" style="width:290px;height:80px"></textarea>
					<div class="celar blank10"></div>
					<input type="button" value="我要提问" onClick="SendMessage()"/>	  
						
						
						
			</div>		
			<div class="clear blank10"></div>
  			
			<div  class="Picture">
							<div class="title"><span>现场图片</span></div>
						  
							  
							  <div class="imglist">
									   <ul>
												{#ShowPhotos}
									  </ul>
							  </div>
							 
							<div class="clear"></div>
  			</div>
	
</div>
<div class="clear blank10"></div>
<div class="clear blank10"></div>	
	</div>
	   
<!--版权信息-->
{LB_尾部通用}
<!--版权信息-->

			   
</body>
</html>