<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$GetSiteName}-{$ActiveTitle}</title>
<link href="{$GetInstallDir}user/images/css.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javaScript"></script>
<script src="{$GetInstallDir}ks_inc/common.js"></script>
<script language = "JavaScript">
	function CheckForm(){
		if ($("#UserName").val()==""){
		 $.dialog.alert("请输入用户名！",function(){ $("#UserName").focus();});
		 return false;
	    }
	   if ($("#Email").val()==""){
		 $.dialog.alert("请输入邮箱！",function(){	 $("#Email").focus();});
		 return false;
		}
	    return true;
 }
</script>
<!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->

</head>
<body>
{LB_会员中心头部}

<div class="hearder">
	<div class="logoNav">
		<div class="wrap">
			<div class="logo"><a href="{$GetInstallDir}"><img src="{$GetInstallDir}images/logo-black.png" alt="KESION" /></a></div>
			<div class="nav">
				<ul>
					<li ><a href="{$GetInstallDir}">首页</a></li>
					<li class="current"><a href="{$GetInstallDir}user/">会员</a></li>
					<li><a href="{$GetInstallDir}user/weibo.asp">微博</a></li>
					<li><a href="{$GetInstallDir}club/">论坛</a></li>
					<li><a href="{$GetInstallDir}space/">门户</a></li>
					<li><a href="{$GetInstallDir}user/user_payonline.asp">充值</a></li>
					<li><a href="{$GetInstallDir}user/Complaints.asp">投诉</a></li>
					<li><a href="{$GetInstallDir}user/UserLogout.asp"  onclick="return(confirm('确认退出吗？'))">退出</a></li>
			　　　</ul>
			</div>
		</div>
	</div>
</div>
<div class="blank10 clear"></div>

<div id="main">
	<div class="forgotPass">
		<h1>账号激活</h1>
		<div class="stepL">
		
		 
		
		
<!--第一步：输入用户名 begin-->
			<div class="stepContent1">
			
			{$GetActiveCodeForm}
			  
			
			
			</div>
			
			
			
			
		</div>
		<div class="stepR">
		    <h2>已经有{$GetSiteName}用户通行证？</h2>
			<span>点此 <a href="/user/login">登录</a></span>
			<h2>还没有{$GetSiteName}用户通行证？</h2>
			<span>点此 <a href="/user/reg">注册</a></span>
			<h3 class="mt10">注册{$GetSiteName}用户做什么？</h3>
			<ul class="mt20">
				<li>·开通个人/企业空间，发表日志和企业资讯</li>
				<li>·发表微博</li>
				<li>·充值后购买商品/考试练习等</li>
			</ul>
		</div>	</div>
</div>

<div class="foot">
	<p>{$GetCopyRight}</p>
</div>

</body>
</html>