<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>{$GetSiteName}-取回密码</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7, IE=9">
<link href="{$GetInstallDir}user/images/css.css" type=text/css rel=stylesheet>
<script src="{$GetInstallDir}ks_inc/jquery.js" type="text/javaScript"></script>
<script src="{$GetInstallDir}ks_inc/common.js" type="text/javaScript"></script>
<script type="text/javascript">
  function checkmyform(){
    if (document.getpassform.UserName.value==''){
	  $.dialog.alert('请输入您的用户名!',function(){
	  document.getpassform.UserName.focus();
	  });
	 return false
	}
	if (jQuery('#gettype option:selected').val()=='1'){
		if (document.getpassform.Email.value==''){
		  $.dialog.alert('请输入您的邮箱!',function(){
		  document.getpassform.Email.focus();
		  });
		 return false
		}
	}
	return true;
  }
 function checkgetform(){
  if (document.getpassform.PassWord.value==''){
	  $.dialog.alert('请输入您的新密码!',function(){
	  document.getpassform.PassWord.focus();
	  });
	 return false
	}
  if (document.getpassform.PassWord.value.length<6){
	  $.dialog.alert('新密码长度不能少于6位!',function(){
	  document.getpassform.PassWord.focus();
	  });
	 return false
	}
  if (document.getpassform.RePassWord.value==''){
	  $.dialog.alert('请输入重复密码!',function(){
	  document.getpassform.RePassWord.focus();
	  });
	 return false
	}
  if (document.getpassform.PassWord.value!=document.getpassform.RePassWord.value){
	  $.dialog.alert('两次输入的密码不一致!',function(){
	  document.getpassform.RePassWord.focus();
	  });
	 return false
	}
   return true;
 }
</script>
<!--[if IE 6]>
<script src="{$GetInstallDir}js/iepng.js" type="text/javascript"></script>
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input'); 
</script>
<![endif]-->
</head>
<body>
{LB_会员中心头部}

<div class="hearder">
	<div class="logoNav">
		<div class="wrap">
			<div class="logo"><a href="{$GetInstallDir}"><img src="{$GetInstallDir}images/logo-black.png" alt="KESION" /></a></div>
			<div class="nav">
				<ul>
					<li ><a href="{$GetInstallDir}">首页</a></li>
					<li class="current"><a href="{$GetInstallDir}user/">会员</a></li>
					<li><a href="{$GetInstallDir}user/weibo.asp">微博</a></li>
					<li><a href="{$GetInstallDir}club/">论坛</a></li>
					<li><a href="{$GetInstallDir}space/">门户</a></li>
					<li><a href="{$GetInstallDir}user/user_payonline.asp">充值</a></li>
					<li><a href="{$GetInstallDir}user/Complaints.asp">投诉</a></li>
					<li><a href="{$GetInstallDir}user/UserLogout.asp"  onclick="return(confirm('确认退出吗？'))">退出</a></li>
			　　　</ul>
			</div>
		</div>
	</div>
</div>
<div class="blank10 clear"></div>

<div class="mainbox">
<div id="main">
	<div class="forgotPass">
		<h1>找回密码</h1>
		<div class="stepL">
			<div class="stepBox mt30">
				<div class="stepTit">
			    	<ul class="clearfix">
			        	<li class="step1 stepW1 {$step1}">
			            	<div class="lir1 stepW1bg"><span class="ico icoNum1"></span>输入用户名<i class="i1"></i><i class="i2"></i></div>
			            </li>
			            <li class="step2 stepW2 {$step2}">
			            	<div class="lir1"><span class="ico icoNum2"></span>选择取回密码方式<i class="i1"></i><i class="i2"></i></div>
			            </li>
			            <li class="step3 stepW3  {$step3}">
			            	<div class="lir1"><span class="ico icoNum3"></span>填写资料<i class="i1"></i><i class="i2"></i></div>
			            </li>
			            <li class="step4 stepW4 {$step4}">
			            	<div class="lir1"><span class="ico icoNum4"></span>重设密码</div>
			            </li>
					</ul>
				</div>
			</div>
			
			
			{$GetPassWordForm}


			
		</div>
		<div class="stepR">
		    <h2>已经有{$GetSiteName}用户通行证？</h2>
			<span>点此 <a href="/user/login">登录</a></span>
			<h2>还没有{$GetSiteName}用户通行证？</h2>
			<span>点此 <a href="/user/reg">注册</a></span>
			<h3 class="mt10">注册{$GetSiteName}用户做什么？</h3>
			<ul class="mt20">
				<li>·开通个人/企业空间，发表日志和企业资讯</li>
				<li>·发表微博</li>
				<li>·充值后购买商品/考试练习等</li>
			</ul>
		</div>	
	</div>
</div>
</div>
<div class="foot">
	<p>Copyright&copy 2006-2014 KESION.COM All Rights Reserved 福建·厦门科汛软件有限公司</p>
</div>

</body>
</html>