<!DOCTYPE html>
<html>
<head> 
<title>银行付款</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="max-age=1700">
<meta name="viewport" content="user-scalable=no, width=device-width">
<meta name="MobileOptimized" content="320">
<meta name="author" content="kesion.com">
<meta name="format-detection" content="telephone=no">
<link href="{$GetSiteUrl}{$Get3GInstallDir}/images/common.css" rel="stylesheet" type="text/css">
<link href="{$GetSiteUrl}{$Get3GInstallDir}/images/swiper.min.css" rel="stylesheet" type="text/css">
<link href="{$GetSiteUrl}{$Get3GInstallDir}/images/style.css" rel="stylesheet" type="text/css">
<script src="{$GetSiteUrl}ks_inc/jquery.js"></script>
<script src="{$GetSiteUrl}ks_inc/common.js"></script>
<script src="{$GetSiteUrl}{$Get3GInstallDir}/images/pageauto.js"></script>
<script src="{$GetSiteUrl}{$Get3GInstallDir}/images/swiper.min.js"></script>

</head>
<body>
{LB_3g头部通用}
<script>
$(function(){
	var tit=$("title").html();
	$(".headertit").html(tit)
})
</script>

<div class="MiddleCont whitebg">

<!--银行付款-->
<div class="bankbox">
    <div class="title">付款说明</div>
    <div class="fksm">我们提供的付款方式基本上均为马上到款，汇款金额请加个零头以方便确认（如：0.13元），您付完款以后请及时联系我们做汇款确认！以免引起不必要的麻烦。您也可以将汇款底单扫描传真到0596-2198252或者发电邮到<a href="mailto:kesioncms@hotmail.com?subject=Hello">kesioncms@hotmail.com</a>谨防网络骗子，请客户按照以下方式和帐户付款!</div>
</div>

<div class="paybox">
  <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="{$GetInstallDir}images/icbc.gif" />
          <Br/>中国工商银行福建省分行<br/>
          账号：1234 5678 9000 000<br/>
          收款人：科汛</td>
        </tr>
        
        <tr>
          <td><img src="{$GetInstallDir}images/ccb.gif" />
          <Br/>中国建设银行福建省分行<br/>
          账号：1234 5678 9000 000<br/>
          收款人：科汛</td>
        </tr>
        
        <tr>
          <td><img src="{$GetInstallDir}images/abchina.gif" />
          <Br/>中国农业银行福建省分行<br/>
          账号：1234 5678 9000 000<br/>
          收款人：科汛</td>
        </tr>
        
        <tr>
          <td><img src="{$GetInstallDir}images/zsyh.gif" />
          <Br/>招商银行<br/>
          账号：1234 5678 9000 000<br/>
          收款人：科汛</td>
        </tr>

      </table>
</div>   
</body>
</html>