<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[!--pagetitle--] - Powered by EmpireCMS</title>
<meta name="Keywords" content="[!--pagekey--]" />
<meta name="description" content="[!--pagedes--]" />
<link href="[!--news.url--]skin/default/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="[!--news.url--]skin/default/js/tabs.js"></script>
</head>
<body class="showpage">
[!--temp.header--]
<table width="100%" border="0" cellspacing="10" cellpadding="0">
	<tr valign="top">
		<td class="main"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="position">
				<tr>
					<td>您当前的位置：[!--newsnav--]</td>
				</tr>
			</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
				<tr>
					<td>
						<table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#FFFFFF">
							<tr>
								<td bgcolor="#E1EFFB">&nbsp;&nbsp;<strong>[!--title--]</strong></td>
							</tr>
							<tr>
								<td><table width="0" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td width="25"><img src="[!--news.url--]e/data/images/mod/center_1.gif" width="25" height="24" /></td>
											<td background="[!--news.url--]e/data/images/mod/box_1.gif">&nbsp;</td>
											<td width="25"><img src="[!--news.url--]e/data/images/mod/center_2.gif" width="25" height="24" /></td>
										</tr>
										<tr>
											<td background="[!--news.url--]e/data/images/mod/box_4.gif">&nbsp;</td>
											<td bgcolor="#F3F3F3"><a href="[!--news.url--]e/ViewImg/index.html?url=[!--picurl--]" target="_blank"><img border="0" src="[!--picurl--]" class="photoresize" /></a></td>
											<td background="[!--news.url--]e/data/images/mod/box_2.gif">&nbsp;</td>
										</tr>
										<tr>
											<td><img src="[!--news.url--]e/data/images/mod/center_3.gif" width="25" height="24" /></td>
											<td background="[!--news.url--]e/data/images/mod/box_3.gif">&nbsp;</td>
											<td><img src="[!--news.url--]e/data/images/mod/center_4.gif" width="25" height="24" /></td>
										</tr>
								</table></td>
							</tr>
							<tr>
								<td><table width="100%" border="0" cellpadding="4" cellspacing="1">
										<tr>
											<td colspan="2" bgcolor="#F4F9FD">&nbsp;&nbsp;<strong>图片资料</strong></td>
										</tr>
										<tr>
											<td width="80">图片名称：</td>
											<td width="462"> [!--title--]</td>
										</tr>
										<tr>
											<td bgcolor="#F8F8F8">人气：</td>
											<td bgcolor="#F8F8F8"> [!--onclick--]</td>
										</tr>
										<tr>
											<td>图片尺寸：</td>
											<td> [!--picsize--]</td>
										</tr>
										<tr>
											<td bgcolor="#F8F8F8">图片大小：</td>
											<td bgcolor="#F8F8F8"> [!--filesize--]</td>
										</tr>
										<tr>
											<td>编辑：</td>
											<td> [!--username--]</td>
										</tr>
										<tr>
											<td bgcolor="#F8F8F8">创建日期：</td>
											<td bgcolor="#F8F8F8"> [!--newstime--]</td>
										</tr>
										<tr>
											<td valign="top">简介：</td>
											<td valign="top">[!--picsay--]</td>
										</tr>
								</table></td>
							</tr>
												</table>						</td>
				</tr>
			</table>
			[!--temp.pl--]</td>
		<td class="sider"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="title">
				<tr>
					<td><strong>图片推荐</strong></td>
				</tr>
			</table>
				<table width="100%" border="0" cellspacing="8" cellpadding="0" class="box">
					<tr>
						<td>[phomenewspic]'selfinfo',2,4,128,90,1,20,2[/phomenewspic] </td>
					</tr>
				</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="title margin_top">
					<tr>
						<td><strong>最后更新</strong></td>
					</tr>
				</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
					<tr>
						<td><ul>
              <script src='[!--news.url--]d/js/class/class[!--self.classid--]_newnews.js'></script> </ul></td>
					</tr>
				</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="title margin_top">
					<tr>
						<td><strong>热门点击</strong></td>
					</tr>
				</table>
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="box">
					<tr>
						<td><ul>
              <script src='[!--news.url--]d/js/class/class[!--self.classid--]_hotnews.js'></script></ul></td>
					</tr>
			</table></td>
	</tr>
</table>
[!--temp.footer--] [!--page.stats--]
</body>
</html>
